.cart {
  position: fixed;
  top: 0;
  right: -100vw;
  bottom: 0;
  z-index: 99;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(0.5rem);
  padding: 5rem 1rem 1rem;
  width: var(--cart-width);
  transition: var(--cart-transition);
}

.cart li,
.cart footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cart li {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid #444;
}

.cart img {
  aspect-ratio: 16/9;
  border-radius: 0.3rem;
}

.cart footer div {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

.cart-button {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  position: fixed;
  top: 1rem;
  right: 1rem;
  transition: 300ms;
  z-index: 999;
}

.cart-button:hover {
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  right: 0;
}

.remove-button-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-cart-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: darkred;
}
